#top {
    height: 100%;
    background-image: url(../images/Halloween_bg_top.jpg);
    background-position: top left;
    overflow: hidden;
}

#titel{
    position: relative;
    top: -60px;
}

#inschrijven {
    background-image: url(../images/Halloween_bg_inschrijving.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#inschrijven .bd {
    border: 3px solid #F4623A;
    background-color: rgba(256,230, 180, 0.9);
}

#timer {
    font-size: 30px;
    font-weight: bolder;
    background-color: inherit;
    color: white;
}

.fz{
    font-size: 20px;
}